:root {
  ---altura:22vh;
}

* {
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  margin-top: 3rem;
  margin-bottom: 20px;
  color: white;
}

img {
  backdrop-filter: blur(20px);
}

body {
  margin-top: 17.5vh;
  background-color: #ccc;
  background-image: url(../assets/fundo.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 1.5rem 0;
  background-image: url(https://png.pngtree.com/back_origin_pic/04/13/30/734f5ba4e4a772658913afbcf380dea5.jpg);
  background-position: top;
  border-radius: 8px;
  box-shadow: 2px 4px 5px 0px black;
}

.mensagem > input {
  height: 80px;
}

.mensagem {
  display: flex;
  flex-direction: column;
  margin-left: 46px;
}

input {
  padding: 5px 0;
  height: 25px;
  width: 330px;
  text-align: center;
  border-radius: 5px;
}

button {
  width: 90px;
  background: linear-gradient(
    to right,
    rgb(80, 15, 209),
    rgb(132, 46, 230),
    rgba(156, 59, 220, 0.694)
  );
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.voltar {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  font-size: 20px;
}

/* Configurações de responsividade para tablets, desktops */

@media (min-width: 601px) and (max-width: 1200px) {
  body {
    margin-top: var(---altura);
  }

  main {
    max-width: 78vw;
  }
}

/* Configurações de responsividade para celulares */

@media (min-width: 300px) and (max-width: 600px) {
  body {
    margin-top: var(---altura);
  }

  main {
    max-width: 75vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  form {
    max-width: 62vw;
    height: 48vh;
    font-size: 20px;
  }

  input {
    width: 40vw;
  }

  button {
    margin-top: 2vh;
    padding: 12px 0;
  }

  .voltar {
    margin-bottom: 15rem;
    margin-top: 7vh;
  }
}

/* Configurações para alguns celulares específicos */

@media (min-height: 550px) {
  main {
    height: 70vh;
    margin-top: -9vh;
  }


}

@media (max-width: 420px) {
  body {
    margin-top: 20vh;
  }
}

/* Responsividade para TVs */

@media (min-width: 1201px) {
  body {
    margin-top: var(---altura);
  }

  main {
    max-width: 900px;
  }
}
