/* Diminuindo o tamanho da imgagem e mudando para um formato circular */

img {
  width: 150px;
  border-radius: 50%;
}

  /* Alinhamento do nome*/
.nome-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adicionando bordas na tabela */
table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

/* Configirações de cabeçalho da tabela */

th {
  background-color: rgba(65, 64, 64, 0.719);
  color: white;
}

/* Acrescentando um padding para aumentar um pouco xada célula */

td, th {
  padding: 7px;
  text-align: center;
}

/* Estilização das tags a(Âncora) */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

.email {
  color: blue;
}

footer > a:before{
  content: '🔗  ';
}